#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    padding: 8px;
}

.box {
    background-color: #eeeeee;
    padding: 10px;
    color: #333;
}

.box-special {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.box-rows {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.box-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 8px;
}

.boxes1to4,
.sub-item {
    background-color: #cccccc;
    padding: 10px;
    min-height: 60px;
}

/***********************************
*     CSS Grid Task                *
*     Exercise 11 By Asem Al-Zaghal*
***********************************/