

body {
  padding: 30px;
  background-color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
  padding: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ff1a75, #8a2be2, #4b0082);
}

.item {
  background-color: #ffc107;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 0;
  text-align: center;
  border-radius: 4px;
}

.full-width {
  grid-column: 1 /-1;
}

/**********************************
*     CSS FlexBox Task            *
*     Exercise 6 By Asem Al-Zaghal*
**********************************/